<a href="https://colab.research.google.com/github/Lnbernal/ML_vs_IA/blob/C-pandas-dataframes/PandasML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd   # Importamos la librería

# ============================
# 1. Creación de Series
# ============================
print("=== Creación de Series ===")
serie1 = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])  # Serie con índices personalizados
print("Serie creada:\n", serie1)

=== Creación de Series ===
Serie creada:
 a    10
b    20
c    30
d    40
dtype: int64

In [ ]:
# ============================
# 2. Creación de DataFrames
# ============================
print("=== Creación de DataFrame ===")
datos = {
    "Nombre": ["Ana", "Luis", "Pedro"],   # Columna de nombres
    "Edad": [23, 30, 21],                 # Columna de edades
    "Ciudad": ["Bogotá", "Medellín", "Cali"]  # Columna de ciudades
}
df = pd.DataFrame(datos)   # Se crea el DataFrame
print(df)

=== Creación de DataFrame ===
  Nombre  Edad    Ciudad
0    Ana    23    Bogotá
1   Luis    30  Medellín
2  Pedro    21      Cali

In [ ]:
# ============================
# 3. Selección de Datos
# ============================
print("=== Selección de Datos ===")
print("Columna Nombre:\n", df["Nombre"])       # Seleccionar una columna
print("\nFila por índice (iloc[0]):\n", df.iloc[0])  # Fila por posición
print("\nFila por etiqueta (loc[1]):\n", df.loc[1])  # Fila por índice/etiqueta

=== Selección de Datos ===
Columna Nombre:
 0      Ana
1     Luis
2    Pedro
Name: Nombre, dtype: object

Fila por índice (iloc[0]):
 Nombre       Ana
Edad          23
Ciudad    Bogotá
Name: 0, dtype: object

Fila por etiqueta (loc[1]):
 Nombre        Luis
Edad            30
Ciudad    Medellín
Name: 1, dtype: object

In [ ]:
# ============================
# 4. Tipos de Datos
# ============================
print("=== Tipos de Datos ===")
print(df.dtypes)  # Ver tipos de cada columna

# Convertir tipo de dato
df["Edad"] = df["Edad"].astype(float)  # Convertir Edad a float
print("\nEdad convertida a float:\n", df.dtypes)

=== Tipos de Datos ===
Nombre    object
Edad       int64
Ciudad    object
dtype: object

Edad convertida a float:
 Nombre     object
Edad      float64
Ciudad     object
dtype: object